<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/login.css">
    <title>login</title>
</head>
<body>
   
    <div class="container">
        <div class="curved-shape"></div>
        <div class="form-box Login">
            <h2>Anmelden</h2>
            <form action="/login" method="POST">
                <div class="input-box">
                    <input type="text" name="email" required>
                    <label for="">Email</label>
                    <i class='bx bx-user' ></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password" required>
                    <label for="">Password</label>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <div class="input-box">
                    <button class="btn" type="submit">Login</button>
                </div>
                <div class="regi-link">
                    <p>Du hast noch kein Account ? <a href="/register">Registrieren</a></p>
                </div>
            </form>
        </div>
        <h3>{{messages.error}}</h3>
        <div class="info-content Login">
            <h2><span id="h2-info-content">Willkommen</span> Zurück!</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, rem.</p>
        </div>
    </div>
    <script src="JS/login.js"></script>
</body>
</html>