<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
  <link rel="stylesheet" href="../css/user-leaderboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
   <header>
    <div class="navbar">
      <div class="logo" style="padding-top: 10px;"><a href=""><img src="../img/V2.png" alt=""
            style="width: 50px; height:50px "></a></div>
      <ul class="links">
        <li><a href="./"> <i class="fa-solid fa-list-ol"></i> Home</a></li>
        <li><a href="about"><i class="fa-solid fa-list-ol"></i> Gruppen-Leaderboard</a></li>
        <li><a href="services"><i class="fa-solid fa-clock-rotate-left"></i> Tipp-Verlauf</a></li>
        <li><a href="contact"><i class="fa-solid fa-phone"></i> Contact</a></li>
      </ul>
      <li><a href="#" class="action_btn"><i class="fa-solid fa-right-from-bracket"></i>  logout</a></li>
      <div class="toggle_btn"><i class="fa-solid fa-bars"></i></div>
    </div>

    <div class="dropdown_menu">
      <li><a href="./"> <i class="fa-solid fa-list-ol"></i> Home</a></li>
      <li><a href="about"><i class="fa-solid fa-list-ol"></i> Gruppen-Leaderboard</a></li>
      <li><a href="services"><i class="fa-solid fa-clock-rotate-left"></i> Tipp-Verlauf</a></li>
      <li><a href="contact"><i class="fa-solid fa-phone"></i> Contact</a></li>
      <li><a href="#" class="action_btn"><i class="fa-solid fa-right-from-bracket"></i>  logout</a></li>
    </div>
  </header>
  <main>
    <section id="hero">
      <h1>Welcome User</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Sed, placeat.
      </p>
      <div class="leaderboard" >           
        <table>
          <tr>
          <th>Platz</th>
          <th>User</th>
          <th>Punkte</th>
          </tr>
          <tr>
          <td>1</td>
          <td>Maria Anders</td>
          <td>10</td>
          </tr>
          <tr>
          <td>2</td>
          <td>Francisco Chang</td>
          <td>9</td>
          </tr>
          <tr>
          <td>3</td>
          <td>Roland Mendel</td>
          <td>8</td>
          </tr>
          <tr>
          <td>4</td>
          <td>Helen Bennett</td>
          <td>7</td>
          </tr>
          <tr>
          <td>5</td>
          <td>Yoshi Tannamuri</td>
          <td>6</td>
          </tr>
          <tr>
          <td>6</td>
          <td>Giovanni Rovelli</td>
          <td>5</td>
          </tr>
          <tr>
          <td>6</td>
          <td>Giovanni Rovelli</td>
          <td>5</td>
          </tr>
          <tr>
              <td>6</td>
              <td>Giovanni Rovelli</td>
              <td>5</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Giovanni Rovelli</td>
                <td>5</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Giovanni Rovelli</td>
                  <td>5</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Giovanni Rovelli</td>
                    <td>5</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Giovanni Rovelli</td>
                      <td>5</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Giovanni Rovelli</td>
                        <td>5</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Giovanni Rovelli</td>
                          <td>5</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>Giovanni Rovelli</td>
                            <td>5</td>
                            </tr>
                            <tr>
                              <td>6</td>
                              <td>Giovanni Rovelli</td>
                              <td>5</td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>Giovanni Rovelli</td>
                                <td>5</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>Giovanni Rovelli</td>
                                  <td>5</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Giovanni Rovelli</td>
                                    <td>5</td>
                                    </tr>
                                    <tr>
                                      <td>6</td>
                                      <td>Giovanni Rovelli</td>
                                      <td>5</td>
                                      </tr>
                                      <tr>
                                        <td>6</td>
                                        <td>Giovanni Rovelli</td>
                                        <td>5</td>
                                        </tr>
                                        <tr>
                                          <td>6</td>
                                          <td>Giovanni Rovelli</td>
                                          <td>5</td>
                                          </tr>
                                          <tr>
                                            <td>6</td>
                                            <td>Giovanni Rovelli</td>
                                            <td>5</td>
                                            </tr>
          </table> 
      </div>

    </section>
  </main>
  <footer><small>&copy; Copyright 2024, Vincenzo, Lamanuzzi & Mahmoud, Khalaf</small></footer>
  <script src="../js/user-leaderboard.js"></script>
</body>

</html>